<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>首页</h1>
    <a th:href="@{/hello}">跳转到hello.html页面</a> <br>
    <a th:href="@{/test/hello}">跳转到/test/hello.html页面</a> <br>
    <a th:href="@{/hello1}">不同的链接跳转到同一个hello.html页面</a> <br>
    <a th:href="@{/hello}">链接方法都是get请求，跳到hello.html</a> <br>
    <form th:action="@{/hello}" method="post">
       <input type="submit" value="表单提交post请求，跳到hello1.html">
    </form>
<br>
    <a th:href="@{/helloGetMapping}">链接方法都是get请求，跳到hello.html,helloGetMapping</a> <br>
    <form th:action="@{/helloPostMapping}" method="post">
        <input type="submit" value="表单提交post请求，跳到hello1.html,helloPostMapping">
    </form>

<br>
    <form th:action="@{/param}" method="post">
        <input type="text" name="username"> <br>
        <input type="submit" value="表单提交post请求，含有username请求参数,admin">
    </form>


</body>
</html>